body {
    font-family: "Lato", "Comic Sans MS";
    color: #34495e;
    background-color: #95a5a6;
    margin: 0;
    padding: 0;
}

.banner {
    font-family: "Lobster";
    font-size: 2em;
}

.container {
    background-color: #E0E0E0;
    margin: 0 auto;
    width: 960px;
    height: 1080px;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 2em;
}

/* Navigation */
nav {
    background-color: #2c3e50;
    text-align: center;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline; /* Removes line breaks for nav */
}

nav li a:hover {
    background-color: #34495e;
}

nav a {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    text-align: right;
}

nav .active {
    background-color: #aec6cf;
}
